body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,  rgb(77, 238, 149), #1ac8ce);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    background: #fff;
    padding: 20px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 320px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 5px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  input:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #007BFF;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  /* mensajes de error */
  .mensajeError {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    min-height: 14px; /* espacio reservado */
  }

/* Estilo para la compra de membresía */
.planes{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.plan{
  border: 1px #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.carrito{
  position: absolute;
  bottom: 300px;
  right: 500px;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  width: 300px;
}
  